@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 450;

  overflow: scroll;
  margin: 0px;

  -webkit-text-size-adjust: 100%;
}

a {
  color: black;
  text-decoration: none;
}

/* 🟢  MENU */
.pollen-menu {
  display: flex;
  justify-content: space-between;

  padding: 30px 40px;
}

.pollen-home {
  font-size: 24px;
}

.right-item {
  color: gray;
  padding-left: 20px;
  font-size: 18px;
}

/* 🟢  CONTENT LAYOUT */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 80px);

  padding: 20px 40px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-width: 160px;
}

/* 🟢  LEFT COL */

.column img {
  width: calc(100% - 20px);
  height: calc(100vh - 170px);

  object-fit: cover;
}

/* 🟢  RIGHT COL */
.info {
  width: 100%;
}

/* 🔵  TOP RIGHT COL */
.top-info .header {
  font-size: 30px;
}
.top-info .body {
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
}

/* 🔵  BOTTOM RIGHT COL */
.bottom-info {
  padding-top: 80px;
}
.bottom-info .header {
  font-size: 20px;
  padding-top: 30px;
}
.bottom-info .body {
  font-size: 18px;
  font-weight: 400;
  padding-top: 6px;
}

.link-grid {
  display: flex;
  flex-wrap: wrap;
}
.collab {
  width: 160px;
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
  padding-top: 2px;
}

/* 🟢  RIGHT COL */
.bottom-links {
  padding: 0px 40px;
  margin-top: -10px;
}
.bottom-links a {
  padding: 0px 3px;
  margin-top: -10px;
}

object {
  pointer-events: none;
}

@media only screen and (max-width: 1055px) {
  .pollen-menu {
    position: sticky;
    top: 0px;

    color: white;
    background-color: black;
  }
  .pollen-menu a {
    color: white;
  }
  .pollen-home {
    font-size: 40px;
  }
  .right-item {
    font-size: 40px;
  }

  .row {
    display: block;
    padding: 0px 0px;
  }
  .column {
    width: 100vw;
  }
  .column img {
    width: 100vw;
  }
  .header {
    padding: 0px 20px;
    padding-top: 30px;
    font-size: 40px;
  }
  .body {
    padding: 18px;
    font-size: 20px;
  }
  .link-grid {
    padding: 20px;
    padding-top: 4px;
  }
  .collab {
    width: 360px;
  }
  .bottom-links {
    padding: 60px 20px;
  }
}
