@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 450;

  overflow: scroll;
  margin: 0px;
}

a {
  color: black;
  text-decoration: none;
}

/* 游릭  MENU */
.pollen-menu {
  display: flex;
  justify-content: space-between;

  padding: 30px 40px;
}

.pollen-home {
  font-size: 24px;
}

.right-item {
  color: gray;
  padding-left: 20px;
  font-size: 18px;
}

/* 游릭  CONTENT LAYOUT */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 80px);

  padding: 20px 40px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-width: 160px;
}

/* 游릭  LEFT COL */

.column img {
  width: calc(100% - 20px);
  height: calc(100vh - 160px);

  object-fit: cover;
}

/* 游릭  RIGHT COL */
.info {
  width: 100%;
}

/* 游댯  TOP RIGHT COL */
.top-info .header {
  font-size: 30px;
}
.top-info .body {
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
}

/* 游댯  BOTTOM RIGHT COL */
.bottom-info {
  padding-top: 80px;
}
.bottom-info .header {
  font-size: 20px;
  padding-top: 30px;
}
.bottom-info .body {
  font-size: 18px;
  font-weight: 400;
  padding-top: 6px;
}

.link-grid {
  display: flex;
  flex-wrap: wrap;
}
.collab {
  width: 160px;
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
  padding-top: 2px;
}

/* 游릭  RIGHT COL */
.bottom-links {
  padding: 0px 40px;
  margin-top: -20px;
}

@media only screen and (max-width: 1055px) {
  .pollen-menu {
    position: sticky;
    top: 0px;

    color: white;
    background-color: black;
  }
  .pollen-menu a {
    color: white;
  }

  .row {
    display: block;
    padding: 0px 0px;
  }
  .column {
    width: 100vw;
  }
  .column img {
    width: 110vw;
    margin-left: -10px;
  }
  .header {
    padding: 0px 20px;
    padding-top: 30px;
  }
  .body {
    padding: 20px;
  }
  .link-grid {
    padding: 20px;
  }
  .bottom-links {
    padding: 40px 20px;
  }
}
